html{
  overflow:hidden;

}
/*Nav bar stuff*/
.brand-logo{
	margin-left: 1%;
}

.brand-logo:hover{
	text-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}

/*Index.html styling*/
.index{
  background-image: url('/bg.jpg');
  background-repeat:no-repeat;
  background-size:100%;
}


.index .heading{
  color: white;
}

.index .container{
  position: absolute;
  text-align: center;
  top: 30%;  
  left: 35%;
}

.index ::-webkit-input-placeholder {
 color: #6d6b6b;
 font-style: italic;
 font-size: 1.6rem;
}

.index:-moz-placeholder { /* Firefox 18- */
 color: #6d6b6b;  
 font-style: italic;
}

.index::-moz-placeholder {  /* Firefox 19+ */
 color: #6d6b6b;  
 font-style: italic;
}

.index :-ms-input-placeholder {  
 color: #6d6b6b; 
 font-style: italic; 
}

.index input[type=search] {
 color:black;
 background-color: rgba(255,255,255,0.6);
 border-radius: 3px;
}

.index form{
  white-space: nowrap; !important
}
/*http://codepen.io/siwicki/pen/FHkwu*/
.index  form button {
  position: relative;
  border: 0;
  padding: 0;
  left:5px;
  cursor: pointer;
  height: 43px;
  width: 72px;
  color: white;
  text-transform: uppercase;
  background: #D83C3C;
  white-space: nowrap;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  left:-12px;
}

.index form button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  left:-6px;
}





/*http://jsfiddle.net/raving/1mhsynmw/*/
/*https://codepen.io/maccadb7/pen/nbHEg?editors=1100*/
/*Modal */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius: 4px;
}

#close {
 line-height: 34px;
 font-size:1.4rem;
 color: #000;
 position: absolute;
 right: 0;
 text-align: center;
 top: 0;
 padding: 0 0.9rem;
}
#close:hover {

}

/*Sign In*/
#signInHeader{
  text-align: center;
}

input[type=text], input[type=password]{
	width: 100%;
  padding: 12px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.material-icons.signin{
	transform: translate(5px, 45px);
}

#signInButton{
	transform: translateX(105%);
}


/*Cart*/

.wrapper{
  margin: auto;
  width: 98%;
  z-index: 70;
  opacity: 0;
}

.badgee {
 background-color: #6394F8;
 border-radius: 10px;
 color: white;
 display: inline-block;
 font-size: 12px;
 line-height: 1;
 padding: 3px 7px;
 text-align: center;
 vertical-align: middle;
 white-space: nowrap;
}

#cart{
  display: inline; !important
  line-height: inherit;
  font-size: 1.4rem;
}

.cart{
  z-index: 900;
  right:0;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
}

.cart-header{
 border-bottom: 1px solid #E8E8E8;
}

.cart-total{
  float:right;
}

#amount{
  color:  #6394F8;
}

#empty{
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.cart-items img{
  float: left;
  margin-right: 12px;
}

.cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.cart-items .item-price{
  color:#6394F8;
}
.cart-items .item-size{
  color:#6394F8;
}
.cart-items .item-quantity{
  color:#6394F8;
}
.cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.buttonContainer{
  text-align: center;
  margin-bottom:1%;
}

/*Sign Up*/
#hideOrNo{
  display: none;
}
.btn #signupSubmit{
  text-align: center;  margin-bottom:2%;
}


/*Display Search Results*/
.input-field label{
  font-size: 1rem;
  left: -2rem;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-fill {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.progress{
  /*red by default, determinate adds green overlay*/
  background-color: #FF0000;
}



