
.brand-logo{
	margin-left: 1%;
}

.brand-logo:hover{
	text-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}

#cart{
    display: inline; !important
    line-height: inherit;
    font-size: 1.4rem;
}

/*http://jsfiddle.net/raving/1mhsynmw/*/
/*https://codepen.io/maccadb7/pen/nbHEg?editors=1100*/
/*Modal */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
}

#close {
	line-height: 34px;
	font-size:1.4rem;
    color: #000;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    padding: 0 0.9rem;
}
#close:hover {

}

/*Sign In*/
#signInHeader{
    text-align: center;
}

input[type=text]{
	width: 100%;
    padding: 12px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.material-icons.signin{
	transform: translate(5px, 45px);
}

#signInButton{
	transform: translateX(105%);
}


/*Cart*/

.wrapper{
    margin: auto;
    width: 98%;
    z-index: 70;
    opacity: 0;

}
.badgee {
   background-color: #6394F8;
   border-radius: 10px;
   color: white;
   display: inline-block;
   font-size: 12px;
   line-height: 1;
   padding: 3px 7px;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
}

.cart{
   margin: 20px 0;
   /*box-shadow: 0px 1px 5px 1px;*/
   float: right;
   width: 320px;
   position: relative;
   border-radius: 3px;
   padding: 20px;
   background-color: #fff;
}

.cart-header{
 border-bottom: 1px solid #E8E8E8;
}

.cart-total{
    float:right;
}

#amount{
    color:  #6394F8;
}

#empty{
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
}

.cart-items img{
  float: left;
  margin-right: 12px;
}

.cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.cart-items .item-price{
    color:#6394F8;
}
.cart-items .item-size{
    color:#6394F8;
}
.cart-items .item-quantity{
    color:#6394F8;
}
.cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.buttonContainer{
    text-align: center;
    margin-bottom:1%;
}

.btn #signupSubmit{
    text-align: center;  margin-bottom:2%;
}
